<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Departments</title>
</head>
<body>
<div>
    <table border="1">
        <thead>
        <tr>
            <th>Department ID</th>
            <th>Department Name</th>
            <th>Department Code</th>
            <th>Faculty Name</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="department : ${departments}">
            <td th:text="${department.departmentId}"></td>
            <td th:text="${department.departmentName}"></td>
            <td th:text="${department.departmentCode}"></td>
            <td th:text="${department.faculty.facultyName}"></td>
            <td>
                <a th:href="@{'/editDept/' + ${department.departmentId}}">Edit</a>
                <a th:href="@{'/deleteDept/' + ${department.departmentId}}">Delete</a>
            </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="5">
                <a th:href="@{/addDepartment}" role="button">Add Department +</a>
            </td>
        </tr>
        </tfoot>
    </table>
</div>
</body>
</html>